doctype html
html
    head
        meta(charset="UTF-8")
        title Synapse the Roguelike
        link(rel="icon" type="image/ico" href="assets/favicon.ico")
    body
        div(class="dashboard-wrapper" id="app" data-user=user data-userId=userId)
        div#modal-container