.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &-horizontal {
    margin: 0 auto;
  }
}
.space {
  &-down {
    margin-bottom: 5px;
  }
}
.flexbox {
  display: flex;
}