@import "../../common/styles/common";
@import "../../common/styles/common_variables";
@import "login_logo";
@import "menu";
@import "form";

.app {
  width: 100%;
  height: 100%;
  background: @screen;

  &-wrapper {
    width: 60%;
    height: 100%;
  }
}